:root {
  --highlight-color: #1C77FF;
	--selection-color: rgba(0 102 255 / 0.2);

	--bg-card: white;
	--bg-1: #f5fafd;
	--bg-2: #f3f4f6;
	--bg-3: #ddebff;


	--fg-1: #12161c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-card: #09161e;
		--bg-1: #1d2022;
		--bg-2: #232325;
		--bg-3: #202c3b;

		--fg-1: #c5d9f6;
	}
}

html {
	background-color: var(--bg-1);
	color: var(--fg-1);
}

::selection {
	background-color: var(--selection-color);
}
